
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
*{
	margin:0;
	padding:0;
	scroll-behavior: smooth;
}
p,
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
a:focus,
button:focus,
input:focus{
	outline: none;
}
a:hover,
a{
	text-decoration: none;
}
ul,ol{
	list-style: none;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Parisienne', cursive;
}

.hero{
	height: 100vh;
	width: 100%;
	background-image: url(../images/sky.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow-x: hidden;
}
.highway{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	height: 200px;
	width: 500%;
	display: block;
	background-repeat: repeat-x;
	background-image: url(../images/road.jpg);
	-webkit-animation: highway 10s linear infinite;
	        animation: highway 10s linear infinite;
}
@-webkit-keyframes highway{
	100%{
		-webkit-transform: translateX(-3400px);
		        transform: translateX(-3400px);
	}
}
@keyframes highway{
	100%{
		-webkit-transform: translateX(-3400px);
		        transform: translateX(-3400px);
	}
}
.city{
	position: absolute;
	bottom: 200px;
	left: 0;
	right: 0;
	display: block;
	z-index: 1;
	height: 250px;
	width: 500%;
	background-image: url(../images/city.png);
	background-repeat: repeat-x;
	-webkit-animation: city 20s linear infinite;
	        animation: city 20s linear infinite;
}
@-webkit-keyframes city{
	100%{
		-webkit-transform: translateX(-1400px);
		        transform: translateX(-1400px);
	}
}
@keyframes city{
	100%{
		-webkit-transform: translateX(-1400px);
		        transform: translateX(-1400px);
	}
}
.cow{
	width: 400px;
	left: 50%;
	bottom: 100px;
	position: absolute;
	z-index: 2;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.cow img{
	width: 100%;
	-webkit-animation: cow 1s linear infinite;
	        animation: cow 1s linear infinite;
}
@-webkit-keyframes cow{
	100%{
		-webkit-transform: translateY(-3px);
		        transform: translateY(-3px);
	}
	50%{
		-webkit-transform: translateY(1px);
		        transform: translateY(1px);
	}
	0%{
		-webkit-transform: translateY(-1px);
		        transform: translateY(-1px);
	}
}
@keyframes cow{
	100%{
		-webkit-transform: translateY(-3px);
		        transform: translateY(-3px);
	}
	50%{
		-webkit-transform: translateY(1px);
		        transform: translateY(1px);
	}
	0%{
		-webkit-transform: translateY(-1px);
		        transform: translateY(-1px);
	}
}

.grass{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
	height: 100px;
	width: 500%;
	background-image: url(../images/grass-5.png);
	background-repeat: repeat-x;
	background-size: contain;
	-webkit-animation: grass 20s linear infinite;
	        animation: grass 20s linear infinite;
}
@-webkit-keyframes grass{
	100%{
		-webkit-transform: translateX(-3400px);
		        transform: translateX(-3400px);
	}
}
@keyframes grass{
	100%{
		-webkit-transform: translateX(-3400px);
		        transform: translateX(-3400px);
	}
}
.eid{
	height: 150px;
	width: 150px;
	position: absolute;
	left: 40px;
	top: 0px;
	background-image: url(../images/eid-4.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-animation: eid 1s linear infinite;
	        animation: eid 1s linear infinite;
}
@-webkit-keyframes eid{
	100%{
		-webkit-transform: translateY(-1px);
		        transform: translateY(-1px);
	}
	50%{
		-webkit-transform: translateY(1px);
		        transform: translateY(1px);
	}
	0%{
		-webkit-transform: translateY(-1px);
		        transform: translateY(-1px);
	}
}
@keyframes eid{
	100%{
		-webkit-transform: translateY(-1px);
		        transform: translateY(-1px);
	}
	50%{
		-webkit-transform: translateY(1px);
		        transform: translateY(1px);
	}
	0%{
		-webkit-transform: translateY(-1px);
		        transform: translateY(-1px);
	}
}
h1{
	position: absolute;
	left: 50%;
	top: 20px;
	font-size: 30px;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	color:  #330867;
}
h1 span{
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#30cfd0), to(#330867));
	background-image: -o-linear-gradient(bottom, #30cfd0 0%, #330867 100%);
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.typed-cursor{
	opacity: 0 !important;
}
